/* Extra large devices (large desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {
    .advertise .section-title {
        margin-top: 11rem;
    }
    .advertise .title-sub {
        margin-bottom: 14rem;
    }
}

@media only screen and (min-width: 1900px) {
    .hero-text-container .hero-text p {
        font-size: 5rem;
    }
}