/* Variables */

:root {
    --black: #231F20;
    --white: #ffffff;
    --pink: #EC008C;
    --gray: #939598;
    --liteGray: #E6E7E8;
    --blue: #00AEEF;
    --orange: #FF5A00;
    --cyan: #00AA88;
}