/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .top-bar .col {
        width: fit-content!important;
    }
    .top-bar .container {
        margin-right: calc(var(--bs-gutter-x)* .5);;
    }
    .hero {
        height: 28rem;
    }
    .hero-text-container .hero-sub {
        width: 50%;
        margin-left: auto;
    }
    .hero-text-container {
        top: 2.5rem;
        right: 2rem;
        transform: translate(0, 0);
        width: fit-content;
    }
    .hero-text-container .hero-text {
        width: fit-content;
    }
    .hero-text-container .hero-sub {
        width: 70%;
    }
    .hero .hero-brown {
        right: -4.5rem;
    }
    .key-features-section-title .title-contain {
        padding: 1.75rem 1.25rem;
        margin-top: -3rem;
    }
    .key-features-section-title h2 {
        font-size: 2.5rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .other-services a.card .title {
        font-size: 1rem;
    }
    
}