/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .top-bar .col {
        width: fit-content!important;
        background-color: var(--white);
    }
    .top-bar .col a .mail {
        color: var(--black);
        margin-bottom: -0.3rem;
    }
    .top-bar .col a svg {
        margin-top: -0.1rem;
    }
    .top-bar .container {
        margin-right: calc(var(--bs-gutter-x)* .5);;
    }
    #main-nav .logo-top {
        margin-bottom: -1.75rem;
    }
    a.members-login {
        top: 18rem;
    }
    .hero .hero-svg {
        margin-bottom: 21rem;
    }
}