/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    #main-nav .active .b-w-svg g polyline {
        fill: var(--black)!important;
    }
    #main-nav .active .b-w-svg g polyline {
        fill: var(--cyan)!important;
    }
    .top-bar {
        margin-top: 2rem;
    }
    .top-bar .bar a, .top-bar .bar p {
        font-size: 1.5rem;
    }

    .logo-top {
        width: 200px;
    }
    #main-nav .active a {
        color: var(--orange);
   }
   #main-nav .active {
    background-color: unset;
}
#main-nav .nav-item {
    padding-left: 0;
    padding-right: 0;
}
#main-nav .nav-item .nav-link {
    padding-right: 0;
    padding-left: 1rem;
}

#main-nav .nav-item:hover a{
    opacity: .98;
}
#main-nav .nav-item.dropdown ul li a:hover {
    color: var(--yellow);
    background-color: transparent!important;
}
.navbar-nav .nav-item, .navbar ul li:first-child, #main-nav .navbar-nav .nav-item:last-of-type {
    border: none;
}

#main-nav .nav-item:hover a {
    color: var(--orange);
}
.navbar-collapse {
    border-bottom: unset;
}
    #main-nav .nav-item .nav-link {
        padding: 1rem 1.5rem;
    }
    #main-nav .nav-item:last-of-type .nav-link {
        /*border-right: 0;*/
        /*margin-right: 0;*/
        padding-right: 0;
    }
.navbar-nav .nav-item, .navbar ul li:first-child:not(.dropdown ul li) {
    border: unset;
}
.nav-outer {
    margin-top: -2rem!important;
}
    #main-nav .logo-top {
        width: 30rem;
    }
#main-nav .nav-item a svg {
    /*width: 1rem;*/
    width: 1.5rem;
    margin-top: -0.3rem;
}
    a.members-login {
        top: 13rem;
    }


.shfooter .collapse {
    display: block;
    }
    footer .fa-chevron-right {
    display: inline-block;
    }
    footer ul li {
    margin-bottom: 10px;
    
    }
    footer ul li span {
        display: inline-block;
    }
    footer ul li a:hover span {
        animation: arrow-right 0.3s linear forwards; 
              
          }
      
      @keyframes arrow-right {
        from {
          transform: translateX(0px); }
        to {
          transform: translateX(2px); } 
          
      }
    
      #footer .footer-title {
        font-size: 1.5rem;
      }
      footer .logo-footer {
        width: 100%;
      }
      footer .logo-footer img {
        width: 80%;
    }



}
        